@import "tailwindcss";

@theme inline {
  --color-primary: theme(colors.neutral.800);
  --color-secondary: theme(colors.neutral.500);
}

.dark {
  --color-primary: theme(colors.neutral.100);
  --color-secondary: theme(colors.neutral.400);
}
